.navbar-search-main {
    display: flex;
    background-color: #d32323;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 100px 0 100px;
}

.navbar-search-session {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.navbar-search-form-wrapper {
    width: 70%;
    height: 55%;
    margin: 10px;
}

.navbar-search-login-signup-logout:last-child {
    margin-left: 20px;
}

.navbar-search-login-signup-logout {
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px;
}

.navbar-search-session h2 {
    padding-top: 5px;
}