.splash {
    height: 60vh;
    background-image: image-url('splash_background.jpg');
    background-size: cover;
    padding: 28px 160px;
}

.login-signup {
    display: flex;
    justify-content: flex-end;
    height: 35px;
}

.header-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 35px;
}

.splash-logo {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 200px;
    height: 100px;
}

.sign-up-button {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
}

.sign-up-button:hover {
    background-color: white;
    color: #666;
}

.log-in-button {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 8px;
    margin: 0 12px;
    align-items: center;
}

.log-in-button:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
}

.header-button {
    margin-left: 10px;
    background-color: transparent;
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid white;
}

.header-button:hover {
    background-color: white;
    color: #666666;
}

.header-name {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.splash-page-category-section .splash-page-category-link .splash-page-category-img {
    width: 300px;
    height: 250px;
    padding: 20px;
}

.splash-page-category-section {
    margin: 100px 100px 0 100px;
    display: flex;
    justify-content: space-around;
}

.splash-page-category-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #2b73bb;
    font-weight: bold;
}
